.aboutme_text{
    color: darkslategray;
    font-size: large;
    line-height: 30px;
    white-space: pre-line;
}
.resume_timeline .timeline_content .timeline_title{
    font-size: 16px !important;
    font-weight: 500 !important;
}
.resume_timeline .timeline_content .timeline_date{
    color: darkslategray;
}
.resume_timeline .timeline_content .timeline_description{
    font-size: small !important;
    color: gray;
    margin-top: 6px;
}
.service{
    height: 100%;
    text-align: center;
}
.service .service_title{
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
}
.service .service_description{
    color: #989898;
    border-color: var(--main-color);
    margin-right: 5px;
    text-align: center;
}
.service_icon > .MuiSvgIcon-root{
    font-size: 46px;
    margin-left: 0;
    font-weight: 300;
    color: darkslategray;
}
.MuiGrid-root.section.graybg.pb_45.MuiGrid-container {
    justify-content: space-between;
  }
.skill{
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    min-height: 186px;
    height: 100%;
}
.skill .skill_title{
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
}
.skill .skill_description{
    display: flex;
    align-items: center;
    color: #989898;
    font-weight: 400;
    line-height: 18px;
}
.skill .skill_description .timeline_dot{
    border-color: var(--main-color) ;
    padding: 2px;
    margin-right: 5px;
}
